@import "../Scss/custom";
@import "../Scss/mixins";
.deal-of-the-day {
  background-image: url(../images/img/img-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
